<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>deep check</title>
  <meta name="description" content="deep check">
  <meta name="author" content="Andriy Skoropad">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="/js/main.js"></script>

</head>

<body>
  <div id="fs">
    <div class="base-block">
      Current folder: <code>{{currentFolder}}</code>
    </div>
    <div class="base-block">
      <div class="already-selected">
        <div class="fs-element" v-for="file in filesList" :key="file.path">
          <span v-bind:class="{pointer: !file.isFile}" v-on:click="!file.isFile && openFolder(file.path)">
            <span class="align-middle">
              <folder-icon v-if="!file.isFile"></folder-icon>
              <file-icon v-if="file.isFile"></file-icon>
            </span>
            <code class="align-middle">{{file.name}}</code>
          </span>
          <button v-if="!file.isFile" class="fs-action btn btn-default" v-on:click="openFolder(file.path)">Open</button>
          <button v-if="(needToSelectFile && file.isFile) || (!needToSelectFile && !file.isFile)" class="fs-action btn btn-default" v-on:click="select(file.path)">Select</button>
        </div>
      </div>
      <button v-if="!needToSelectFile" class="btn btn-default" v-on:click="selectCurrentFolder()">Select current folder</button>
    </div>
  </div>
  
  

  <script>
    let params = new URLSearchParams(document.location.search.substring(1));
    let type = params.get("type"); // folderForIgnore, basePath, baseModule, appPath
    let currentFolder = '';
    const needToSelectFile = type === 'baseModule';


    const app = new Vue({
        el: '#fs',
        data: {
          type,
          currentFolder,
          needToSelectFile,
          currentFolder: '',
          filesList: [],
        },
        beforeCreate: function () {
          fetch('/api/get-folder-content')
            .then(response => response.json())
            .then(response => {
              this.currentFolder = response[0].path;
              this.filesList = response;
            });
        },
        methods: {
          selectCurrentFolder: function() {
            this.select(this.currentFolder);
          },
          select: function(path) {
            fetch(
              `/api/select/${this.type}`,
              { 
                method: 'PUT',
                headers: {
                  'Content-type': 'application/json; charset=UTF-8' // Indicates the content 
                },
                body: JSON.stringify({
                  path: decodeURIComponent(path)
                })
              },
            ).then(response => response.json())
            .then(list => {
              window.location.href = window.location.origin;
            });
          },
          openFolder: function(folder) {
            let search = '';
            if (folder) {
              const folderDecoded = folder;

              if (folderDecoded === this.currentFolder) {
                const folderList = folderDecoded.split('/');

                if (folderList[folderList.length - 1] === '') {
                  folderList.pop();
                }

                if (folderList[folderList.length - 1] === '.') {
                  folderList.pop();
                  folderList.push('../')
                } else if (folderList[folderList.length - 1] === '..') {
                  folderList.push('../')
                } else {
                  folderList.pop();
                }
                search = new URLSearchParams({folder: encodeURIComponent(folderList.join('/'))}).toString()
              } else {
                search = new URLSearchParams({folder: encodeURIComponent(folderDecoded)}).toString()
              }
            }

            fetch('/api/get-folder-content' + (search ? `?${search}` : '') )
              .then(response => response.json())
              .then(response => {
                this.currentFolder = response[0].path;
                this.filesList = response;
              });
          }
        }
    });
    
  </script>
</body>
</html>