<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>deep check</title>
  <meta name="description" content="deep check">
  <meta name="author" content="Andriy Skoropad">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="/js/main.js"></script>

</head>

<body>
    <div id="index">
        <div class="row">

            <div class="group-block">
                <div class="base-block" v-for="folder in stringConfig" :key="folder.path">
                    <div class="fs-element">{{folder.type}}:</div>
                    <div class="fs-element">Description: {{description(folder.type)}}</div>
                    <div class="fs-element">
                      <span>
                        <span v-if="folder.path" class="align-middle">
                            <folder-icon v-if="folder.isFolder"></folder-icon>
                            <file-icon v-if="!folder.isFolder"></file-icon>
                        </span>
                        <code class="align-middle">{{folder.path || 'please select'}}</code>
                      </span>
                      <a class="btn btn-default" v-bind:href="`/fs?type=${folder.type}`">{{folder.path ? 'Change' : 'Select'}}</a>
                    </div>
                </div>
            </div>
        
            <div class="group-block">
              <div class="base-block">
                <div>folderForIgnore:</div>
                <div class="fs-element">Description: all this folders will be not scanned</div>
                <div class="already-selected">
                    <div class="fs-element" v-for="folder in ignoreFolders" :key="folder">
                        <span>
                            <span class="align-middle">
                              <folder-icon></folder-icon>
                            </span>
                          <code class="align-middle">{{folder}}</code>
                        </span>
                        <button class="btn btn-default" v-on:click="deleteFolderForIgnore(folder)">Delete</button>
                      </div>
                </div>
                <a class="btn btn-default" href="/fs?type=folderForIgnore">select folder for ignore</a>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="group-block col-6">
              <div class="base-block">
                <div>Actions:</div>
            
                <div class="already-selected">
                  <button class="btn btn-default" v-on:click="analyze">Analyze</button>

                  <button v-if="analyzingFinished" class="btn btn-default" v-on:click="generateFileWithProjectDeps">generate File With Project Deps</button>

                  <a v-if="analyzingFinished" class="btn btn-default" href="/result">Show result</a>
                  <div>Status: {{analyzing ? 'Analyzing in progress' : ''}}</div>
                </div>
              </div>
            </div>
          
            <div class="group-block col-6">
              <div class="base-block">
                <div>tsConfigMinPath:</div>
                <div class="fs-element">Description: get data from tsconfig.json in appPath folder (please check is app path folder contain this file)</div>
                <div class="already-selected">
                    <div class="fs-element">
                        <pre><code>{{JSON.stringify(tsConfigMinPath, null, 2)}}</code></pre>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>

  <script>

    const config = {
      'folderForIgnore': {
        description: 'all this folders will be not scanned',
        priority: 4,
      },
      'basePath': {
        description: 'path to folder that can be scanned mostly the same as appPath',
        priority: 2
      },
      'baseModule': {
        description: 'scanned module',
        priority: 3
      },
      'appPath': {
        description: 'root folder in scanned project',
        priority: 1
      },
      'tsConfigMinPath': {
        description: 'get data from tsconfig.json in appPath folder (please check is app path folder contain this file)',
        priority: 5
      },
    }

    function description(type) {
      const description = config[type].description;
      switch (type) {
        case 'folderForIgnore': 
          return description;
        case 'basePath': 
          return description;
        case 'baseModule': 
          return description;
        case 'appPath': 
          return description;
        default:
          return 'description is missed.'
      }
    }

    const app = new Vue({
        el: '#index',
        data: {
            analyzing: false,
            analyzingFinished: false,
            ignoreFolders: [],
            list: [],
            stringConfig: [],
            tsConfigMinPath: null,
        },
        beforeCreate: function () {
            fetch('/api/get-config')
                .then(response => response.json())
                .then(response => {
                let list = [];
                for (let key in response) {
                    if(typeof response[key] === 'string') {
                    list.push({
                        type: key,
                        path: response[key],
                        isFolder: key !== 'baseModule',
                    })
                    }
                }
                list = list.sort((a,b) => config[a.type].priority - config[b.type].priority);

            
                this.tsConfigMinPath = response.tsConfigMinPath;
                this.ignoreFolders = response.folderForIgnore || [];
                this.stringConfig = list.filter((el, index, all) => index === 0 || all[index - 1].path);
                })
        },
        methods: {
            description,
            deleteFolderForIgnore(file) {
                fetch(
                    `/api/delete-folder-for-ignore/${encodeURIComponent(file)}`,
                    { method: 'DELETE' }
                ).then(response => response.json())
                .then(list => {
                    this.ignoreFolders = list;
                    // renderIgnoreFolder(list);
                });
            },
            analyze: function () {
                this.analyzing = true;

                fetch(`/api/analyze-module`)
                .then(response => response.json())
                .then(list => {
                    this.analyzing = false;
                    this.analyzingFinished = true;
                });
            },
            generateFileWithProjectDeps: function () {
                this.analyzing = true;

                fetch(`/api/generate-file-with-project-deps`)
                .then(response => response.json())
                .then(list => {
                    this.analyzing = false;
                });
            },
        }
    });
  </script>
</body>
</html>